body
h1{color: #f229b7;
  font-size: 50px;
  margin: 10px; margin-bottom: 5px;
   font-family: 'Arvo', serif;
   text-align: center;
 }
h2 {color: #black;
   font-size: 35px;
    margin: 10px;
    font-family: 'Arvo', serif
  }
h3 {color: blue;
   font-size: 20px;
    margin: 10px;
     font-family: 'Arvo', serif
   }
a:link {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin-left: 10px; margin-right: 10px;
    font-family: Georgia;
  }
  p {color: black;
  font-size: 20px;
  margin: 20px; margin-top: 5px; margin-left: 30px;
  font-family: Georgia;
  text-align: center;
    }
    .ettan_puffen {background-color: #fbbfda;
  border: 20px;
border-color: #fbbfda;
border-style: solid;
}
.toppdelen {background-color: #c7f1fc;
  border: 70px;
}
