h1{
  color: white;
  font-size: 50px;
  margin: 10px; margin-bottom: 5px;
   font-family: 'Arvo', serif;
   text-align: center;
 }
h2 {
  color: black;
   font-size: 40px;
    margin: 10px;
    font-family: 'Arvo', serif;
    text-align: left;
}
h3 {
  color: black;
  font-size: 25px;
   margin: 10px;
   font-family: 'Arvo', serif;
   text-align: left;
 }
h4 {
  color: blue;
   font-size: 20px;
    margin: 5px;
     font-family: 'Arvo', serif;
     text-align: left;
   }
   h5 {
       margin: 5px;
       margin-bottom: 2px;
      }
.hideDIV {
  display: none;
   }

a:link {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin-left: 10px; margin-right: 10px;
    font-family: Georgia;
    text-align: left;
  }
  p {color: black;
  font-size: 20px;
  margin: 20px; margin-top: 5px; margin-left: 30px;
  font-family: Georgia;
  text-align: center;
margin-bottom: 0px;
padding: 10px;

}

.vinjett {
  color: black;
   font-size: 30px;
    margin: 2px;
    margin-bottom: 2px
     font-family: 'Arvo', serif;
     font-variant: small-caps;
     text-align: left;
   }

.ettan_puffen {
  background-color: #fee1fc;
  border-color: #fee1fc;
  border-style: solid;
  justify-content: center;
}

.ettan_puffen img {
  width:100%;
  height:auto;
}

.center  {
text-align: center;
}

.toppdelen {
  background-color: #d60175;
  opacity: 0,5;
  border: 70px;
  margin: 0px;
}

.puffen {
  /*flexbox*/
   display: flex;
   align-items: top;
   justify-content: center;
 }

.puffen img {
   width: 50%;
   margin: 20px;
}

.knapp {
    background-color: #c3a7f4;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Arvo', serif;
}

.text-box {
   width: 50%;
   margin: 20px;
}
.right{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.right img { width: 100%;
  height: auto;

}

.artikel-box {
  margin: 5px;

}
@media (max-width: 600px) {
  h2 {
    color: black;
     font-size: 30px;
      margin: 10px;
      font-family: 'Arvo', serif;
      text-align: center;
  }
  h3 {
    color: black;
    font-size: 18px;
     margin: 5px;
     font-family: 'Arvo', serif;
     text-align: left;
   }
   a:link {
       text-decoration: none;
       color: blue;
       font-size: 15px;
       margin-left: 10px; margin-right: 10px;
       font-family: Georgia;
       text-align: left;  }

       h4 {
         color: blue;
          font-size: 18px;
           margin: 2px;
            font-family: 'Arvo', serif;
            text-align: left;
          }
          .text-box {
             width: 50%;
             margin: 5px;

          }
          .right{
            display: flex;
            justify-content: center;
            margin: 5px;
            margin-bottom: 10px;
          }
          .right img { width: 100%;
            height: auto;
            margin: 5px;
              margin-bottom: 10px;
          }
          h1{
            color: white;
            font-size: 40px;
            margin: 5px; margin-bottom: 5px;
             font-family: 'Arvo', serif;
             text-align: center;
           }
           p {color: black;
           font-size: 15px;
           margin: 5px; margin-top: 5px; margin-left: 30px;
           font-family: Georgia;
           text-align: center;
         margin-bottom: 0px;
         padding: 10px;

         }

         .vinjett {
           color: black;
            font-size: 20px;
             margin: 2px;
             margin-bottom: 2px
             margin-top: 5px;
              font-family: 'Arvo', serif;
              font-variant: small-caps;
              text-align: left;
            }
}
